<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <mat-card class=".mat-elevation-z0">
    <mat-card-title text-center>Votre profil</mat-card-title>
    <mat-card-subtitle text-center>Editez vos informations ici</mat-card-subtitle>
  </mat-card>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-header>
      <ion-card-subtitle>Modifiez vos infos personnelles</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-input type="text" placeholder="Prénom"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button>Modifier</ion-button>
    </ion-item>
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-subtitle>Ajoutez un poids</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-input type="number" placeholder="poids" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="addWeight(weight)">Ajouter</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
