<ion-header>
  <ion-toolbar>
    <ion-title>
      Informations personnelles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-header>Et maintenant, on aimerait en savoir plus !</ion-card-header>
  <ion-card-content #form>
    <ion-item>
      <ion-label>Genre</ion-label>
      <ion-select placeholder="Sélectionnez" [(ngModel)]="gender">
        <ion-select-option value="homme">Homme</ion-select-option>
        <ion-select-option value="femme">Femme</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date de naissance</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="birthdate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Taille (cm)" [(ngModel)]="height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Poids (kg)" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button expand="full" size="large" (click)="addPersonalInfos(gender, birthdate, height, weight)">Valider</ion-button>
    </ion-item>
  </ion-card-content>
</ion-content>
