<ion-content padding>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/healthy-food-2.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Manger bien, manger mieux!</ion-card-subtitle>
      <ion-card-title>Commencer à utiliser Self-Measure</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid class="news">
    <ion-row>
      <ion-col size="6" size-sm class="news-vignette">
        <div class="news-vignette">
          <ion-img src="/assets/img/recipes/Salmon-Udon-Noodles.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6" size-sm class="news-vignette">
        <div class="news-vignette">
          <ion-img src="/assets/img/recipes/Snow-Pea-Ramen.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6" size-sm class="news-vignette">
        <div class="news-vignette">
          <ion-img src="/assets/img/recipes/Pork-Ragu.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6" size-sm class="news-vignette">
      <div class="news-vignette">
        <ion-img src="/assets/img/recipes/Fettucine.jpg"></ion-img>
      </div>
    </ion-col>
      <ion-col size="6" size-sm class="news-vignette">
        <div class="news-vignette">
          <ion-img src="/assets/img/recipes/Mexican-Chicken.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6" size-sm class="news-vignette">
        <div class="news-vignette">
          <ion-img src="/assets/img/recipes/Risotto.jpg"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
