<ion-header no-border margin-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
    <mat-card class=".mat-elevation-z0">
        <mat-card-title text-center>Bienvenue, {{user.realname}} !</mat-card-title>
        <mat-card-subtitle text-center>Bienvenue chez vous !</mat-card-subtitle>
    </mat-card>
</ion-header>

<ion-content>
    <mat-card margin text-center class=".mat-elevation-z0">
        <circle-progress
                [title]="kcalNeeded + ' Kcal'"
                [percent]="50"
                [radius]="80"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
        ></circle-progress>
    </mat-card>
        <!--<mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Aliments
                </mat-panel-title>
                <mat-panel-description>
                    200Kcal
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput type="search" placeholder="Choisir un aliment" />
            </mat-form-field>
            <button mat-icon-button><mat-icon>add</mat-icon></button>
            <mat-chip-list>
                <mat-chip matChipRemove>test<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                <mat-chip matChipRemove>test2<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
            </mat-chip-list>
        </mat-expansion-panel>
    <mat-card margin >
        1000 pas
    </mat-card>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    IMC actuel : 20
                </mat-panel-title>
                <mat-panel-description>
                    IMC normal
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput type="text" placeholder="Poids" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Taille" />
            </mat-form-field>
            <ion-item lines="none">
                <button mat-raised-button color="primary">Calculer</button>
            </ion-item>
        </mat-expansion-panel>-->
    <!--<ion-grid>
        <ion-row>
            <div>
                <p>Aliments</p>
            </div>
        </ion-row>
    </ion-grid>-->
    <mat-card style="border-radius: 0 !important; margin-bottom: 10px; background-color: #3699ec" (click)="goToAlimentPage()">
        <ion-grid>
            <ion-row>
                <ion-col text-center style="line-height: 27px; color: white">
                    Aliments
                </ion-col>
                <ion-col text-center style="line-height: 27px; color: white">
                    1000Kcal
                </ion-col>
                <ion-col text-center><ion-icon name="arrow-round-forward" style="font-size: 30px; color: white"></ion-icon></ion-col>
            </ion-row>
        </ion-grid>
    </mat-card>
    <mat-card style="border-radius: 0 !important; margin-bottom: 10px; background-color: #3699ec">
        <ion-grid>
            <ion-row>
                <ion-col text-center style="line-height: 27px; color: white">
                    Nombre de pas
                </ion-col>
                <ion-col text-center style="line-height: 27px; color: white">
                    1000
                </ion-col>
            </ion-row>
        </ion-grid>
    </mat-card>
    <mat-card style="border-radius: 0 !important; margin-bottom: 10px; background-color: #3699ec">
        <ion-grid>
            <ion-row>
                <ion-col text-center style="line-height: 27px; color: white;">
                    IMC : {{user.imc}}
                </ion-col>
                <ion-col *ngIf="user.imc < 16" text-center style="line-height: 27px; color: white;" >
                    Anorexie / dénutrition
                </ion-col>
                <ion-col *ngIf="user.imc >= 16 && user.imc < 18.5" text-center style="line-height: 27px; color: white;" >
                    Maigreur
                </ion-col>
                <ion-col *ngIf="user.imc >= 18.5 && user.imc < 25" text-center style="line-height: 27px; color: white;" >
                    Corpulence normale
                </ion-col>
                <ion-col *ngIf="user.imc >= 25 && user.imc < 30" text-center style="line-height: 27px; color: white;" >
                    Surpoids
                </ion-col>
                <ion-col *ngIf="user.imc >= 30 && user.imc < 35" text-center style="line-height: 27px; color: white;" >
                    Obésité modérée
                </ion-col>
                <ion-col *ngIf="user.imc >= 35 && user.imc < 40" text-center style="line-height: 27px; color: white;" >
                    Obésité élevée
                </ion-col>
                <ion-col *ngIf="user.imc >= 40" text-center style="line-height: 27px; color: white;" >
                    Obésité morbide
                </ion-col>
            </ion-row>
        </ion-grid>
    </mat-card>
</ion-content>
