ion-card-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 92%;
}

ion-card-content > ion-item:not(:last-child) {
  padding: 10px 0;
}

ion-card-content > ion-item:last-child {
  padding: 50px 0;
}

ion-button {
  width: 100%;
}