<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-header>Commençons par la première étape !</ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input placeholder="Nom complet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Mot de passe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirmation du mot de passe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="full" size="large">Etape suivant</ion-button>
    </ion-item>
  </ion-card-content>
</ion-content>
